*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}
body > p{
    padding-left: 50px;
}
h1{
    padding: 30px;
}
.container,.box-comparador{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
}
.container{
    margin: auto;
    width: 80%;
    min-width: 400px;
    align-items: center;
}
.box-comparador{
    width: 400px;
    padding: 40px;
    margin-top: 60px;
    border: 2px solid #cbc9d3;
    border-radius: 10px;
    background-color: #f7f7f7;
    color: #3e3e3e;
}
input[type="submit"], input[type="number"] {
    width: 100%;
    border: none;
}
input[type="submit"]{
    font-weight: bold;
    height: 35px;
    margin-top: 10px;

    border-radius: 2px;
    font-size: 1.2em;
    background-color: #051969;
    color: #ffffff;
}
input[type="submit"]:hover{
    background-color: #122fa2;
    cursor: pointer;
}
input[type="number"]{
    height: 25px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #373454;
}
input[type="number"]:focus{
    outline: none;
    border-bottom: 1px solid #8ba2ff;
    transition: 0.5s;
}
.resposta-maior-valor {
    display: none;
    
    padding: 10px;
}
p.valid{
    border: 3px solid darkgreen;
    color: green;
    display: block;
}
p.invalid{
    border: 3px solid darkred;
    color: red;
    display: block;
}
input.valid{
    color: green;
}
input[type=number]::-webkit-inner-spin-button{
        display: none;
}
