*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    /* outline: 1px solid lime; */
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* flex */
.container, header, .menu, .topic-title, .submenu, .news{
    display: flex;
}
/* alinhamento ao centro espaçado */
.container{
    align-items: center;
    justify-content: space-between;
}
body{
    background-color: #fafafa;
    color:#404040;
}
/* cabeçalho */
header{
    background-color: #fdfdfd;
    border-bottom: 1px solid #cccccc;
    flex-flow: column nowrap;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    color:#404040;
}
header > div.container{
    width: 100%;
    padding: 10px;
}
.search-form{
    width: 190px;
    background-color: inherit;
}
.search-form button{
    width: 20px;
    height: 20px;
    background-color: inherit;
}
ion-icon[name="search"]{
    color: #4f4f4f;
    font-size: 20px;
}
.search{
    border: none;
    border-bottom: 1px solid #5e5e5e;
    height: 20px;
    background-color: inherit;
}
input:focus{
    outline: none;
}
.menu{
    height: 40px;
}
.topic{
    width: 120px;
    text-align: center;
    flex-direction: column;
}
.topic-title.container{
    height: 40px;
    justify-content: center;
    
}
.submenu{
    height: 0;
    transition: height .5s;
    overflow-y: hidden;
    text-align: left;
    width: 120px;
    flex-flow: column nowrap;
    background-color: #fdfdfd;
    padding-left: 10px;
    position: fixed;
    top: 100px;
}
.submenu li{
    padding: 5px;
}
.topic::before{
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    position: fixed;
    top: 59px;
    transition: background-color .3s;
}
.topic:hover::before{
    background-color: red;
}

.topic:hover .submenu{
    height: 140px;
}

/* conteudo */
.principal{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 75% 25%;
    max-width: 1900px;
    margin: auto;
    height: calc(100vh);
}

section .news-item{
    width: 400px;
    height: 300px;
    overflow-y: hidden;
}
aside .news-item{
    width: 190px;
}
section h2{
    padding: 15px 10%;
}
aside h2{
    padding: 15px 10%;
}
aside{
    border-left: 1px solid #ddd;
    background-color: #f8f8f8;
    height: fit-content;
}
.news{
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
}
/* section destaques */
.destaques .news-item, .destaques .news-item img{
    width: 450px;
}
/* carrossel */
.carousel{
    width: 500px;
}
/* largura dos itens dentro do carrossel */
.carousel .news-item, .carousel .news-item img, .carousel .news-text{
    width: 500px;
}
.carousel .news-text{
    position: absolute;
    bottom: 25px;
    padding-left: 10px;
    font-size: 1.2em;
}
/* imagens com texto por cima */
.img-back img{
    filter: brightness(0.7);
    height: 100%;
}
.img-back, .img-back a, .img-back a:visited{
    color: #fdfdfd;
}
/* carrossel slick */
.slick-arrow:before{
    color: black;
}

/* section breaking-news */
.breaking-news{
    width:90%;
    margin: auto;
}
.breaking-news .news{
    display: grid;
    grid-template-columns: repeat(3, 30%);

    justify-content: space-around;
}
.breaking-news img, .breaking-news .news-item, .breaking-news .news-text {
    width: 250px;
}


@media(min-width:1100px){
    body .principal{
        grid-template-columns: 80% 20%;
    }
    main .news{
        flex-flow: row wrap;
        gap: 30px;
        justify-content: space-around;
    }
}