*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-null{
    height: 400px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 150px;
    border: 1px solid red;
}
.green,.yellow,.blue{
    width: 70px;
    height: 70px;
}
.green{
    background-color:green ;
}
.yellow{
    background-color: yellow;
    position: sticky;
    top: 10px;
}
.blue{
    background-color: blue;
}