.container{
    height: 50vh;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.drag-item{
    height: 120px;
    width: 120px;
    border: 2px solid #ddd;
    background-color: #bb9974;
}