*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: beige;
}
#telefone{
    background-image: url(archives/frame-iphone.png);
    width: 311px;
    height: 625px;
    margin: 20px auto;
}
#tela{
    position: relative;
    top: 80px;
    width: 268px;
    height: 473px;
    
}

 
   